/* universal section */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Universal end */
/* Utilitiy Clasess */
.h-primary{
    color: #141c8a;
    text-align: center;
    font-weight: 700;
}


/* Home Section */
.home{
    display: flex;
    width: 100vw;
    height: 85vh;
    background-color: #141c8a;
    margin-bottom: 70px;
    border-radius: 5px;
}

.hero-text{
    width: 485px;
    height: 230px;
    color: white;
    margin-left: 156px;
    margin-top: 207px;
    font-weight: 700;
    font-size: 34px;
    line-height: 80px;
    
}

.hero-image img{
    width: 556px;
    height: 438px;
    margin-top: 123px;
    margin-left: 100px;
    border-radius: 5px;
}
.btn{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.btn:hover{
    background-color: white;
    color: #141c8a;
    border: 1px solid #E02C6D;
    transform: scale(1.1);
}
/* Player section start */
.player-section{
    background-color: rgb(245, 244, 244);
    width: 75vw;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 5px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 18px;
    margin-left: 15px;
   
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    margin-bottom: 27px;
    margin-right: 30px;
    background-color: #ffffff;
    border: 1px solid white;
    box-shadow: 0 0 6px 1px rgb(187, 187, 187);
    border-radius: 5px;
}
.player:hover{
    transform:  scale(1.01);
    background-color: #e0e2fffa;
}

.player .player-image img{
    width: 300px;
    height: 256px;
}

.player-info{
width: 300px;
height: 154px;
}
/* Heilight Section start */
.heilight{
    margin: auto;
    margin-top: 110px;
    margin-bottom: 80px;
    width: 75vw;
    height: 57vh;
    border-radius: 5px;

}

.copa{
    display: flex;
    width: 98vw;
    margin: auto;
    background-color: rgba(233, 234, 250, 0.575);
}

.copa-text{
    height: 569px;
    width: 309px;
    width: 100%;
    margin-right: 66px;
    margin-top: 50px;
    margin-left: 5px;
    
}
.copa-text p{
    width: 90%;
    margin-bottom: 24px;
    text-align: justify;
}
.copa .copa-image img{
    width: 90%;
    height: 427px;
    width: 100%;
    margin-left: 5px;
}
/* Video Section */

.video-section{
    margin-bottom: 1rem;
    margin-top: 18rem;
}
.videos{
    display: flex;
    justify-content: center;
   
    padding: 20px;
     background-color: rgb(245, 244, 244); 
    width: 75vw;
    margin: auto;
   
}
.video iframe{
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.video{
    width: 100%;
    margin-left: 35px;
}
/* contact Section */
#contact{

    position: relative;
    background-color: rgba(233, 234, 250, 0.575);
    opacity: .9;
    width: 75vw;
    margin: auto;
    margin-top: 10rem;
    padding-top: 5rem;
    border-radius: 5px;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
}
/*Contact area*/
#contact-box{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 2rem;

}
#contact-box p{
   align-items: center;
   justify-content: center;
}


#contact-box form{
  width: 40%;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: .5rem;
    border-radius: .3rem;
}
.contact-btn{
    color: white;
    background-color: #141c8a;
    padding: 10px 24px 10px 24px;
    font-weight: 900;
    border-radius: 5px;
    

}

.contact-btn:hover{
    background-color: rgba(12, 82, 148, 0.199);
    color: #141c8a;
    border: 1px solid #141c8a;
    transform: scale(1.1);
}

/* Footer Section */

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-image img{
    width: 483px;
    height: 110px;
}
.footer-text{
    align-items: center;
}
.footer-text p{
    color: rgb(12, 82, 148);
}
.footer-text span i{
    padding: 15px;
    background-color: #e0e2fffa;
    border: 1px solid #141c8a;
    border-radius: 50%;
    margin: 5px;
}
.footer-text span i:hover{
    background-color: #141c8a;
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50%;
}

/* Media Queries */
/* Ipad screen */

@media only screen and (min-width:688px) and (max-width:1200px) {
    .home{
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        margin: auto;
    }
    .hero-text{
     width: 285px;
    height: 130px;
    color: white;
    margin-left: 156px;
    margin-top: 207px;
    font-weight: 400;
    font-size: 24px;
    line-height: 60px;
    }
    .hero-image img{
    width: 456px;
    height: 338px;
    margin-top: 123px;
    margin-left: 100px;
    border-radius: 5px;
    
    }
    .player-section{
        background-color: rgb(245, 244, 244); 
        width: 85vw;
        margin-bottom: 25px;
        border-radius: 5px;
    }
     
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 18px;
        margin-left: 15px;
        

}
.copa{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin: auto;

}
.video-section{
    margin-bottom: 1rem;
    margin-top: 43rem;
}
.videos{
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin: auto;
}
.video{
    margin-top: 1rem;
    margin-bottom: 1rem
}
#contact-box form{
    width: 80%;
  }


} 

/* Media Query For MObile Device */
@media only screen and (min-width:319px) and (max-width:688px) {
    .home{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 750px;
    background-color: #141c8a;
    margin-bottom: 70px;

    }
    .home .hero-text{
        width: 100%;
        height: 80px;
        color: white;
        margin-left: 55px;
        margin-top: 107px;
        font-weight: 400;
        font-size: 20px;
        line-height: 60px;
        }

   .home .hero-image img{
    width: 95%;
    height: 308px;
    margin-top: 223px;
    margin-left: 10px;
    border-radius: 5px;
    }
    .player-section{
        width: 97vw;
        margin-left: 5px;
    }
    .player-section .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
       
        
    }
 .heilight{
     width: 97vw;
     height: 50vh;
     margin-top: 5rem;
     border-radius: 5px;
 }
 
    .copa{
        display: flex;
        flex-direction: column;
        width: 98vw;
        
        
    }
    .copa .copa-text{
        height: 369px;
        width: 309px;
        width: 100%;
        margin-right: 66px;
        margin-top: 10px;
        margin-left: 5px;
        
    }
    .copa-text p{
        margin-bottom: 14px;
    }
    .copa .copa-image img{
        width: 97%;
        height: 248px;
        margin-right: 10px;
    }
    .video-section{
        width: 98vw;
        height: 85vh;
        margin-bottom: 2px;
        margin-top: 18rem;
        border-radius: 5px;
    }
    .videos{
        display: flex;
        flex-direction: column;
        justify-content: center;
         background-color: rgb(245, 244, 244); 
        width: 98vw;
        margin: auto;
       
    }
    .video{
        width: 98%;
        margin-left: 1px;
        margin-bottom: 1rem;
    }
    
.video iframe{
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 100%;
}
#contact{
    width: 98vw;
    height: 75vh;
    margin-bottom: 3rem;
    border-radius: 5px;
}

#contact-box form{
    width: 85%;
    margin-top: 0px;
  }
  .footer-image img{
    width: 182px;
    height: 50px;
}

}